*/target
/target
/core
/.build
notes.txt
*.bz2
*.zip
*.jar
opt/*
*.so
*.config
*.log
*.key
router.info
router.keys.dat
prngseed.rnd
hostsdb.blockfile
certificates/
netDb/*
peerProfiles/*
*.dat
*.txt
*.txt.gz
**/i2p/*
*.lock
